* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Roboto";
}

input,
button,
select,
textarea {
  font-family: "Roboto";
  border-color: #fefefe;
  border: 1px solid rgb(181, 198, 211);
  color: #444;
  outline: none;
}

button {
  padding: 0.5rem;
}

button:hover {
  background-color: #fefefe;
}

.margin-top-1rem {
  margin-top: 1rem;
}
