* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  font-size: 22px;
  color: #666;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  min-height: 100vh;
  background-color: rgb(216, 237, 252);
}

section {
  width: 420px;
  /* height: 400px; */
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: rgba(170, 170, 190, 0.4);
}
