* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container-login {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  min-height: 100vh;
  background-color: rgb(216, 237, 252);
  color: #444;
}

.form-login {
  width: 300px;
  padding: 1rem;
  background-color: rgba(170, 170, 190, 0.4);
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex-grow: 1;
  padding-bottom: 0.5rem;
}

input[type="text"],
input[type="password"] {
  margin-top: $margin-top-0_5rem;
  padding: 0.25rem;
  padding-left: 0.3rem;
  border-color: #fefefe;
  border: none;
}

.login-user,
.login-password,
.login-button {
  margin-top: 1rem;
}
