* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Nunito", sans-serif;
  font-size: 22px;
  color: #666;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex-grow: 1;
  padding-bottom: 1rem;
}

input[type="text"],
input[type="password"],
button,
textarea {
  font-family: sans-serif;
  font-size: 22px;
  margin-top: 0.25rem;
  padding: 0.25rem;
  padding-left: 0.6rem;
  border-radius: 0.3rem;
  border: none;
}

label,
button {
  margin-top: 1rem;
}

button {
  padding: 0.5rem;
}
