button {
  margin: 0 10px;
  padding: 8px;
  border: 1px solid darken($gray-light, 9%);
  border-radius: 3px;
  background-color: $gray-light;
  font-size: 16px;
  font-family: "Roboto";
  outline: none;
  transition: all 0.2s;

  &:active {
    transform: translateY(1px);
    background-color: darken($gray-light, 12%);
  }

  &:hover {
    background-color: darken($gray-light, 3%);
    color: $black-light;

    &:disabled {
      color: $black-alpha;
    }
  }

  &.active {
    border: none;
    background: darken($gray-light, 9%);
  }

  &.login {
    margin-top: 20px;
  }

  &.modal-button-footer {
    width: 100px;
    margin-right: 0.6rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }

  &.modal-close {
    margin: 0;
    padding: 2px 10px;
    border: none;
    background-color: transparent;
    font-size: 16px;
  }
}
