.footer {
  @include flex-row-space-between;
  width: 90%;
  padding: 8px 0;

  & .count-task {
    color: $black-light;
  }

  & .account {
    &__name {
      margin-right: 8px;
      color: $black-light;
    }

    &__name:last-child {
      margin-right: 0;
    }
  }
}
