.formWrapper {
  @include flex-column;
  justify-content: space-evenly;
  padding-left: 24px;
  padding-right: 24px;
  background-color: $purple-alpha;

  &.form-login {
    width: 300px;
    padding-bottom: 16px;
    border-radius: 4px;
  }

  &.form-task {
    padding-bottom: 8px;
    background: transparent;
  }
}
