.container-login {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  min-height: 100vh;
  background-color: rgb(216, 237, 252);
  color: #444;
}

input[type="text"],
input[type="password"] {
  margin-top: $margin-top-0_5rem;
  padding: 0.25rem;
  padding-left: 0.3rem;
  border-color: #fefefe;
  border: none;
}

.login-user,
.login-password,
.login-button {
  margin-top: 1rem;
}
