.modal-body {
  flex: 1 1 auto;
  background-color: rgb(216, 237, 252);
  overflow: auto;
}

.modal-content {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.modal-content section {
  display: flex;
  flex-direction: row;
  margin-top: $margin-top-0_5rem;
}

.modal-content section .title {
  text-align: end;
  padding-right: 0.5rem;
  width: 9rem;
}

.modal-content textarea {
  resize: none;
}

.modal-content textarea,
.modal-content input,
.modal-content select {
  width: 11rem;
  padding: 0.25rem;
  padding-left: 0.4rem;
  border-radius: 0;
}

.modal-content .caption,
.modal-content .desription {
  width: 18rem;
}
