.modal-body {
  flex: 1 1 auto;
  background-color: $blue-light;
  overflow: auto;
}

.modal-content section {
  display: flex;
  flex-direction: row;
  margin-top: 0.5rem;
}

.modal-content section .title {
  text-align: end;
  padding-right: 0.5rem;
  width: 150px;
}

.modal-content textarea {
  resize: none;
}

.modal-content textarea,
.modal-content input,
.modal-content select {
  width: 11rem;
  padding: 0.25rem;
  padding-left: 0.4rem;
  border-radius: 0;
}

.modal-content textarea:focus,
.modal-content input:focus,
.modal-content select:focus {
  border: 1px solid $black-light;
}

.modal-content .caption,
.modal-content .desription {
  width: 18rem;
}
