.network {
  min-width: 200px;
  color: $black-light;

  & span {
    padding: 2px 4px;
    border: 1px solid;
    border-radius: 3px;
  }

  & .online {
    border-color: darken($green-light, 15%);
    background-color: $green-light;
  }

  & .offline {
    border-color: darken($red-light, 15%);
    background-color: $red-light;
  }
}
