.container-task-list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
  width: 100vw;
  min-height: 100vh;
  background-color: $blue-light;
}

.panel-header {
  width: 80%;
  margin-top: 0.5rem;
  text-align: right;

  & .account-name {
    margin-right: 1rem;
    color: rgb(151, 171, 185);
  }

  &.log-out {
    margin-top: 0;
    margin-right: 0;
  }
}

.container-control {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
  margin-top: 0.5rem;

  & .filtred-date-at select {
    padding: 0.5rem;
  }
}

.container-list {
  width: 90%;
  margin-top: 0.5rem;
}

.task {
  display: flex;
  justify-content: space-between;
  padding: 0.3rem;
  padding-left: 0.8rem;
  padding-right: 0.8rem;
  border: 1px solid darken($gray-light, 27%);
  border-top: none;
  border-radius: 0.2rem;
  background-color: #fefefe;
  color: #444;
  overflow: hidden;
  user-select: none;

  &:first-child {
    border: 1px solid darken($gray-light, 27%);
  }

  & .notask {
    width: 100%;
    color: #74af74;
    text-align: center;
  }

  &.green {
    color: $black-light;
    background: $green-light;
  }

  &.red {
    color: $black-light;
    background: $red-light;
  }

  &.gray {
    color: $black-light;
    background: $gray-light;
  }
}

.field-id {
  min-width: 35px;
}

.field-caption {
  min-width: 150px;
}

.field-priority {
  min-width: 110px;
}

.field-date-complete {
  min-width: 210px;
}

.field-fio {
  min-width: 200px;
}

.field-status {
  min-width: 150px;
}
