.container-task-list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
  width: 100vw;
  min-height: 100vh;
  background-color: rgb(202, 234, 255);
}

.panel-header {
  width: 80%;
  margin-top: $margin-top-0_5rem;
  text-align: right;

  & .account-name {
    margin-right: 1rem;
    color: rgb(151, 171, 185);
  }

  &.log-out {
    margin-top: 0;
    margin-right: 0;
  }
}

.container-control {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
  margin-top: $margin-top-0_5rem;

  & .filtred-date-at select {
    padding: 0.5rem;
  }
}

.button-control {
  & button {
    margin-right: 0.25rem;
  }
}

.group {
  &:not(:last-child) {
    margin-right: 0.25rem;
  }

  &.active {
    background-color: rgb(212, 212, 222);
  }
}

.container-list {
  width: 90%;
  margin-top: $margin-top-0_5rem;
}

.task {
  display: flex;
  justify-content: space-between;
  padding: 0.3rem;
  padding-left: 0.8rem;
  padding-right: 0.8rem;
  border: 1px solid #999;
  border-top: none;
  border-radius: 0.2rem;
  background-color: #fefefe;
  color: #444;
  overflow: hidden;
  user-select: none;

  &:first-child {
    border: 1px solid #999;
  }

  & .notask {
    width: 100%;
    color: #74af74;
    text-align: center;
  }

  &.green {
    color: green;
  }

  &.red {
    color: red;
  }

  &.gray {
    color: gray;
  }
}

.border-inset {
  width: 0px;
  margin-right: 5px;
  border-left: 1px #eee solid;
}

.caption {
  min-width: 150px;
}

.priority {
  min-width: 110px;
}

.date-complete {
  min-width: 210px;
}

.fio {
  min-width: 200px;
}

.status {
  min-width: 150px;
}
