.task {
  @include flex;
  justify-content: space-between;
  padding: 6px;
  padding-left: 12px;
  padding-right: 12px;
  border: 1px solid darken($gray-light, 27%);
  border-top: none;
  color: $black-light;
  background-color: $gray-light;
  overflow: hidden;
  user-select: none;

  & .task-message {
    width: 100%;
    color: $green;
    text-align: center;
  }

  &.status-completed {
    color: $task-text-color;
    background: $task-background-completed;
  }

  &.status-expired {
    color: $task-text-color;
    background: $task-background-expired;
  }

  &.status-other {
    color: $task-text-color;
    background: $task-background-other;
  }
}
