html {
  font-family: "Roboto";
}

input,
select,
textarea {
  font-family: "Roboto";
  border-color: $gray-light;
  border: 1px solid $blue-dark;
  color: $black-light;
  outline: none;
}

.bg-color_disabled-input {
  background-color: $gray-dark;
}
