html {
  font-family: "Roboto";
}

input,
select,
textarea {
  font-family: "Roboto";
  border-color: $gray-light;
  border: 1px solid $blue-dark;
  color: $black-light;
  outline: none;
}

input::placeholder,
textarea::placeholder {
  color: $placeholder-color;
  opacity: 0.3;
}

.bg-color_disabled-input {
  background-color: $gray-light;
}
