$black: rgba(16, 16, 16);
$black-alpha: rgba(16, 16, 16, 0.3);
$black-light: rgb(68, 68, 68);
$blue-light: rgb(222, 241, 255);
$blue-dark: rgb(181, 198, 211);
$gray-light: rgb(250, 250, 250);
$gray-dark: rgb(238, 238, 238);
$green-light: rgb(230, 250, 230);
$green: rgb(116, 175, 116);
$purple-alpha: rgba(170, 170, 190, 0.4);
$red-light: rgb(250, 225, 225);
