.container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
  width: 100vw;
  min-height: 100vh;
  background-color: rgb(202, 234, 255);
}

.panel-header {
  width: 80%;
  margin-top: 0.5rem;
  text-align: right;
}

.panel-header .account-name {
  margin-right: 1rem;
  color: rgb(151, 171, 185);
}

.panel-header.log-out {
  margin-top: 0;
  margin-right: 0;
}

.container-control {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
  margin-top: 0.5rem;
}

.container-control label {
  font-family: sans-serif;
  font-size: 1rem;
  padding-right: 5px;
}

.container-control .filtred-date-at select {
  font-size: 0.8rem;
  padding: 0.5rem;
}

.button-control button {
  margin-right: 0.25rem;
}

.group:not(:last-child) {
  margin-right: 0.25rem;
}

.group.active {
  background-color: rgb(212, 212, 222);
}

.container-list {
  width: 90%;
  margin-top: 0.5rem;
}

.task {
  display: flex;
  justify-content: space-between;
  border: 1px solid #999;
  border-radius: 0.1rem;
  padding: 0.3rem;
  padding-left: 0.8rem;
  padding-right: 0.8rem;
  margin-top: 0.25rem;
  font-family: sans-serif;
  font-size: 0.8rem;
  background-color: #fefefe;
  overflow: hidden;
}

.task.header {
  text-align: center;
  background-color: #e3e3e3;
  margin-top: 0;
}

.border-inset {
  width: 0px;
  margin-right: 5px;
  border-left: 1px #eee solid;
}

.priority {
  min-width: 110px;
}

.date-complete {
  min-width: 210px;
}

.fio {
  min-width: 200px;
}

.status {
  min-width: 150px;
}

.task .notask {
  width: 100%;
  color: #74af74;
  text-align: center;
}
